<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FontCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FontCreator.Properties.Settings>
            <setting name="ExcludedChars" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstChar" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="NumChars" serializeAs="String">
                <value>225</value>
            </setting>
            <setting name="EmptyCharWidth" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ExportDir" serializeAs="String">
                <value />
            </setting>
            <setting name="CodePage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExportFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultCharSpacing" serializeAs="String">
                <value>1</value>
            </setting>
        </FontCreator.Properties.Settings>
    </userSettings>
</configuration>